<!DOCTYPE>
<html>
    <head>
        <title>API's</title>
    </head>

    <body>
        <% if (typeof error != 'undefined') { %>
            <h2>/!\ <%= error %> /!\</h2>
        <% } %>
        <h1>
            Gestion des API Spotify et Deezer
        </h1>
        <hr>
        <h2>
            Connexion
        </h2>
        <p>Spotify : <a href="/spotify/login">Lien</a></p>
    </body>
</html>