<!DOCTYPE>
<html>
    <head>
        <title>API's</title>
    </head>

    <body>
        <% if (typeof error != 'undefined') { %>
            <h2>/!\ <%= error %> /!\</h2>
        <% } %>
        <h1>
            Gestion des API Spotify et Deezer
        </h1>
        <hr>
        <h2>
            Spotify
        </h2>

        <% if (typeof spotify == 'undefined') { %>
            <a href="/spotify/login">Connexion</a>
        <% } else {  %>
            <p>Connecté à Spotify</p>
        <% } %>
        <hr>
    </body>
</html>